* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(32, 37, 24);
    color:rgb(211, 135, 36);
    font-size: 2rem;
    text-align: center;
}

.container {
    position: absolute;
    top: 180px;
    background: #fff;
    height: min(400px, 55vh);
    width: min(400px, 55vw);
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
}

.blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: min(calc(400px/3), calc(55vh/3));
    width: min(calc(400px/3), calc(55vw/3));
    border: solid 2px black;
    color: black;
    font-family: sans-serif;
    font-size: 4rem;
}